/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Mada', sans-serif;
    margin: 0;
    background-color: #ffffff;
    scroll-behavior: smooth;
    
  }

  /* Apply Manrope font globally */
* {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Optional: Reset styles for headings, buttons, and text */
h1, h2, h3, h4, h5, h6, button, p, a, div, span {
  font-family: "Manrope", sans-serif;
  line-height: 1.6;
}

  
  /* index.css */


/* Scroll Snap Container */
.snap-container {
  scroll-snap-type: y mandatory; /* Enable vertical snapping */
  overflow-y: scroll; /* Allow vertical scrolling */
  height: 100vh; /* Full height viewport */
}

/* Scroll Snap Sections */
.snap-section {
  scroll-snap-align: start; /* Snap to the start of each section */
  height: 100vh; /* Each section takes up the full viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}
